{% extends 'layouts/main.html' %}
<head>
  <script type="text/javascript" src="/js/paymentresponse.js"></script>
</head>

{% block content %}
<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i> 
      Success!
    </h1>
  </div>
  <div class="card box-shadow text-center mt-40">
    <div class="card-body">
      <div  class="positive-text">
        Thank you for your purchase!
      </div>
      <div>
        Your total payment was: $<span class="amount" id="amount" data-amount="{{ data.amount }}"></span>
      </div>
      <div>
        Please retain the following reference number for your records:
      </div>
      <div class="payment-reference">
        {{ data.id }}
      </div>
      <div class="payment-status">
        Payment status: {{ data.status}}
      </div>
    </div>
  </div>
</main>
{% endblock %}